.admin-column {
	margin-top:30px;
}
.admin-card {
	background-color:transparent;
}
.admin-card-header {
	color:#000;background:rgba(255, 255, 255, .6)
}
.admin-card-body {
	background: #ffffff;
}
.admin-table {
	margin:40px 0px;
}