html, body {
	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}
.bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #714740;
	z-index: 0;
	background-image: url("/images/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #292929;
	animation-name: fadein;
	animation-duration: 15s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}
@keyframes fadein{
	0% { opacity:.9; }
	50% { opacity:1; }
	100% { opacity:.9; }
}
#id {
	height: 100%;
}
.image-loading {
    width: 28px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

// .loading:after {
// 	overflow: hidden;
// 	display: inline-block;
// 	vertical-align: bottom;
// 	-webkit-animation: ellipsis steps(4,end) 6000ms infinite;
// 	animation: ellipsis steps(4,end) 6000ms infinite;
// 	content: "\2026"; /* ascii code for the ellipsis character */
// 	width: 0px;
// }

// @keyframes ellipsis {
// 	to {
// 		width: 1.25em;
// 	}
// }

// @-webkit-keyframes ellipsis {
// 	to {
// 		width: 1.25em;
// 	}
// }
.ie {
	display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie {
		display: inline;
	}
}