.btn-primary {
    background-color: #be9371;
    border: none;
}
.btn-primary:hover {
    background-color: #414b02;
    border: none;
}
.badge-success {
    background-color: #2a880b;
}
.badge-warning {
    background-color: #e9bfb6;
}